.stuffing {
  height: 200px;
}

@media (min-width: 480px) and (max-width: 1199px) {
  .stuffing {
    display: block;
  }
}
html {
  width: 100%;
    background: #000;
    background-size: auto 800px;
}
body {
  background: none;
  width: 100%;
}

.head-row {
  padding-top: 40px;
}

.page .charlotte-testimonials {
  margin-bottom: 120px;
}





.charlotte-text-fancy-content:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  background: #ffd382;
  background: -moz-linear-gradient(top, #ffd891 0%, #ffd382 50%, #d0ac6a 100%);
  background: -webkit-linear-gradient(top, #ffd891 0%,#ffd382 50%,#d0ac6a 100%);
  background: linear-gradient(to bottom, #ffd891 0%,#ffd382 50%,#d0ac6a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd891', endColorstr='#d0ac6a',GradientType=0 );
  -webkit-background-clip: text;
}

.charlotte-footer {
  color: #fff;
  text-shadow: 0 5px 5px rgba(0,0,0,0.75);
  font-family: "Calibri Bold", Calibiri, sans-serif;
  font-weight: normal;
  font-variant: small-caps;
  font-size: 10px;
  padding-bottom: 10px;
}



.charlotte-menu.nav-pills li {
  background: transparent url('../images/nav-item.png') no-repeat center center;
  background-size: contain;
  height: 90px;
  line-height: 90px;
  width: 21%;
  margin: 0 2%;
  display: block;
  text-align: center;
}
.charlotte-menu.nav-pills li a {
  background: none !important;
  vertical-align: middle;
  line-height: 20px;
  font-family: FrenchScriptMT, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}
.container-fluid {
  background: none;
}

.charlotte-header {
  background: #fff url('../images/bg.jpg') no-repeat ;
    background-position: center;
  background-size: cover;
    height: 100vh;
    position: relative;
}


/* default */
  html {
    background: #000;
  }

 

  .page .charlotte-logo {
    display: none;
  }
  .charlotte-logo {
    padding-top: 80px;
  }
  .charlotte-logo img {
    width: 80%;
  }
  .charlotte-badge {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .charlotte-badge img {
    width: 100px;
    height: auto;
    display: inline-block;
  }
  .page .head-row {
    padding-top: 0;
  }
  .page .charlotte-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .page .charlotte-body {
    padding-top: 100px;
  }
  .page .charlotte-badge {
    position: relative;
    float: right;
    width: 50%;
    right: 0;
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
  }
  .page .charlotte-badge img {
    display: inline-block;
  }


  .page .charlotte-content-head-box {
    padding: 20px 20px 0;
  }
  .page .charlotte-content-head-box h1 {
    color: #949494;
    font-family: Harring, sans-serif;
    font-size: 32px;
  }
  .page .charlotte-content {
    padding: 0 20px 20px;
  }
  .page .charlotte-content p {
    font-family: Harring, sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 42px;
  }
  .page .charlotte-content img {
    padding: 20px;
  }
  .page .charlotte-footer {
    padding-top: 100px;
    font-weight: normal;
  }
  .charlotte-nav {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #000;
    top: 0;
    left: 0;
    padding: 0;
  }
  .charlotte-menu.nav-pills {
    padding-top: 5px;
    padding-right: 0;
    margin: 0 !important;
  }
  .charlotte-menu.nav-pills li {
    background: transparent url('../images/nav-item.png') no-repeat center center;
    background-size: contain;
    height: 90px;
    line-height: 90px;
    width: 21%;
    margin: 0 2%;
    display: block;
    text-align: center;
  }
  .charlotte-menu.nav-pills li a {
    background: none !important;
    vertical-align: middle;
    line-height: 10px;
    font-family: FrenchScriptMT, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    display: inline-block;
  }

  .charlotte-text-fancy {
    margin-top: 20px;
    font-family: FrenchScriptMT, sans-serif;
    font-size: 48px;
    color: #fff;
    height: 400px;


  }
  .charlotte-text-fancy-content {
    line-height: 0.95;

  	-webkit-transform-origin: 50% 0;
  	-moz-transform-origin: 50% 0;
  	-ms-transform-origin: 50% 0;
  	-o-transform-origin: 50% 0;
  	transform-origin: 50% 0;

  	-webkit-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-moz-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-ms-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-o-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	transform: perspective(300px) rotateX(-10deg) scaleX(0.8);


    position: absolute;
  	top: 0;
  	left: 0;
    color: #fff;
    height: 400px;
    overflow: hidden;
    width:100%;

  }
  .charlotte-text-fancy-content-inner {
  	position: absolute;
  	top: 100%;
  	-webkit-animation: scroll 20s linear 4s infinite;
  	-moz-animation: scroll 20s linear 4s infinite;
  	-ms-animation: scroll 20s linear 4s infinite;
  	-o-animation: scroll 20s linear 4s infinite;
  	animation: scroll 20s linear 4s infinite;
  }



@media (min-width: 480px) {
  html {
    background: #000;
  }
  .charlotte-header {
    background: #fff url('../images/bg.jpg') no-repeat bottom left;

    background-size: auto 800px;
      height: 800px;
      position: relative;
  }
  .page .charlotte-header {
    background:  -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, #000000 100%), url('../images/bg.jpg');
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, #000000 100%), url('../images/bg.jpg');
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, #000000 100%), url('../images/bg.jpg');
  }
  .page .charlotte-logo {
    display: none;
  }
  .charlotte-logo {
    padding-top: 80px;
  }
  .charlotte-badge {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .charlotte-badge img {
    width: 120px;
    height: auto;
    display: inline-block;
  }
  .page .head-row {
    padding-top: 0;
  }
  .page .charlotte-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .page .charlotte-body {
    padding-top: 100px;
  }
  .page .charlotte-badge {
    position: relative;
    float: right;
    width: 50%;
    right: 0;
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
  }
  .page .charlotte-badge img {
    display: inline-block;
  }


  .page .charlotte-content-head-box {
    padding: 20px 20px 0;
  }
  .page .charlotte-content-head-box h1 {
    color: #949494;
    font-family: Harring, sans-serif;
    font-size: 32px;
  }
  .page .charlotte-content {
    padding: 0 20px 20px;
  }
  .page .charlotte-content p {
    font-family: Harring, sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 42px;
  }
  .page .charlotte-content img {
    padding: 20px;
  }
  .page .charlotte-footer {
    padding-top: 100px;
    font-weight: normal;
  }
  .charlotte-nav {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #000;
    top: 0;
    left: 0;
    padding: 0;
  }
  .charlotte-menu.nav-pills {
    padding-top: 5px;
    padding-right: 0;
    margin: 0 !important;
  }
  .charlotte-menu.nav-pills li {
    background: transparent url('../images/nav-item.png') no-repeat center center;
    background-size: contain;
    height: 90px;
    line-height: 90px;
    width: 21%;
    margin: 0 2%;
    display: block;
    text-align: center;
  }
  .charlotte-menu.nav-pills li a {
    background: none !important;
    vertical-align: middle;
    line-height: 18px;
    font-family: FrenchScriptMT, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 22px;
    display: inline-block;
  }

  .charlotte-text-fancy {
    margin-top: 20px;
    font-family: FrenchScriptMT, sans-serif;
    font-size: 95px;
    color: #fff;
    height: 400px;


  }
  .charlotte-text-fancy-content {
    line-height: 0.95;

  	-webkit-transform-origin: 50% 0;
  	-moz-transform-origin: 50% 0;
  	-ms-transform-origin: 50% 0;
  	-o-transform-origin: 50% 0;
  	transform-origin: 50% 0;

  	-webkit-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-moz-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-ms-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	-o-transform: perspective(300px) rotateX(-10deg) scaleX(0.8);
  	transform: perspective(300px) rotateX(-10deg) scaleX(0.8);


    position: absolute;
    color: #fff;
    height: 400px;
    overflow: hidden;
    width:100%;

  }
  .charlotte-text-fancy-content-inner {
  	position: absolute;
  	top: 100%;
  	-webkit-animation: scroll 20s linear 4s infinite;
  	-moz-animation: scroll 20s linear 4s infinite;
  	-ms-animation: scroll 20s linear 4s infinite;
  	-o-animation: scroll 20s linear 4s infinite;
  	animation: scroll 20s linear 4s infinite;
  }
}


@media (min-width: 600px) {
  .charlotte-menu.nav-pills li a {
    line-height: 28px;
    font-size: 28px;
  }
}

@media (min-width: 720px) {
  .charlotte-logo img {
  }
  .charlotte-nav {
    height: 110px;
    background: #000;
    top: 0;
    left: 0;
    padding: 5px 0 5px 0;
  }
  .charlotte-menu.nav-pills.navbar-right {
    padding-top: 5px;
    padding-right: 0;
    margin: 0 !important;
    float: none !important;
  }
  .charlotte-menu.nav-pills li {
    background: transparent url('../images/nav-item.png') no-repeat center center;
    background-size: contain;
    height: 90px;
    line-height: 90px;
    width: 21%;
    margin: 0 2%;
    display: block;
    text-align: center;
  }
  .charlotte-menu.nav-pills li a {
    background: none !important;
    vertical-align: middle;
    line-height: 28px;
    font-family: FrenchScriptMT, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 28px;
    display: inline-block;
  }
}
@media (min-width: 768px) {

  .charlotte-badge {
    text-align: right;
  }

}
@media (min-width: 1024px) {
  .charlotte-header {
    background-size: auto 120%;
  }
}
@media (min-width: 1200px) {
  html {
      
      background: #fff url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
 

  .charlotte-header, .page .charlotte-header {
    background: none;
    background-size: auto;
    height: auto;
    position: relative;
  }

  .charlotte-logo, .page .charlotte-logo {
    padding-top: 10px;
    display: block;
  }
  .charlotte-logo img, .page .charlotte-logo img {
    width: 90%;
  }
  .charlotte-menu.nav-pills.navbar-right {
    float: right !important;
      padding-top: 40px;
  }
  .charlotte-nav {
    position: relative;
    height: auto;
    background: none;
    width: 50%;
  }
  .charlotte-menu.nav-pills {
    padding-top: 40px;
    margin-right: 0 !important;
    padding-right: 15px;
  }
  .charlotte-menu.nav-pills li {
    background: transparent url('../images/nav-item.png') no-repeat center center;
    background-size: contain;
    height: 114px;
    line-height: 114px;
    width: 22%;
    margin-left: 1%;
    display: block;
    text-align: center;
  }
  .charlotte-menu.nav-pills li a {
    background: none !important;
    vertical-align: middle;
    line-height: 26px;
    font-family: FrenchScriptMT, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 30px;
    display: inline-block;
  }

  .charlotte-badge {
    margin-top: -100px;


    position: relative;
    right: auto;
    bottom: auto;
    text-align: center;
  }
  .page .charlotte-content-head-box {
      padding: 0 20px 0;
  }
  .page .charlotte-badge img {
      display: inline-block;
      width: 200px;
  }

  .page .head-row {
    padding-top: 40px;
  }
  .page .charlotte-badge {
    float: none;
    width: 33.33333333%;
    padding-top: 0;


    text-align: center;
    margin-top: -100px;

    position: relative;
    right: auto;
    bottom: auto;
  }
  .page .charlotte-header {
    z-index: 0;
    position: static;
    width: auto;
  }

  .page .charlotte-body {
    padding-top: 0;
  }
  .page .charlotte-badge::before {
    content: ' ';
    z-index: -1;
    position: relative;
    display: inline-block;
    margin-bottom: -145px;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 140px solid #242625;
  }
  .page .charlotte-content-head-box {
    content: ' ';
    z-index: -1;
    margin-top: -164px;
    position: relative;
    display: block;
    width: 100%;
    height: 164px;
    background: #242625;
  }
  .page .charlotte-content {
    background: #242625;
    padding: 0 60px 60px;
  }
  .page .charlotte-content-head-box h1 {
    color: #949494;
    font-family: Harring, sans-serif;
    padding: 40px 40px 0;
    font-size: 48px;
  }
  .page .charlotte-content img {
    width: 90%;
    padding: 0 10% 10% 0;
    height: auto;
  }
  .page .charlotte-content p {
    font-family: Harring, sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 20px;
  }
  .page .charlotte-text-fancy {
    margin-top: 70px;
    font-size: 95px;
    color: #ffd382;

  }
  .charlotte-text-fancy-content {
    line-height: 0.95;


    text-shadow: 0 8px 7px #000, 0 8px 7px #000, 0 8px 7px #000, 0 8px 7px #000;

    color: #ffd382;
    position: relative;
  }

  .charlotte-footer {
    padding-top: 100px;
  }
}
@media (min-width: 1360px) {

  .charlotte-menu.nav-pills li {
    width: 22%;
    margin-left: 1%;
  }
  .charlotte-menu.nav-pills li a {
    line-height: 28px;
    font-size: 32px;
  }
  .charlotte-badge img, .page .charlotte-badge img {
      width: 250px;
  }

  .charlotte-text-fancy {
    margin-top: 100px;
  }

  .page .charlotte-content-head-box h1 {
    font-size: 62px;
  }
  .page .charlotte-content p {
    font-size: 44px;
    line-height: 50px;
  }
}
@media (min-width: 1440px) {
  html {
    background-size: cover;
  }
  .charlotte-nav {
    position: relative;
    height: auto;
    background: none;
    width: 50%;
  }
  .charlotte-menu.nav-pills {
    padding-top: 40px;
    margin-right: 0 !important;
    padding-right: 15px;
  }

  .charlotte-text-fancy-content {
    line-height: 0.95;


    text-shadow: 0 8px 7px #000, 0 8px 7px #000, 0 8px 7px #000, 0 8px 7px #000;

    color: #ffd382;
    position: relative;
  }

}
/* animation */
@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-moz-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-ms-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@-o-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
